*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
 }
 .landing{
    background-image: url(https://i.postimg.cc/GpDJtvKt/computer-1844996.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
 }

 /* footer */

 footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
 }
 #footer{
    font-family: cincel;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #000000;

 }

 @media all and (max-width: 380px){
    #footer{
        font-size: 15px;

    }
    .landingpage{
        position: relative;
        top: 24rem
     }
 }
/* navbar */

#nav-container{
    background-color: rgb(145, 141, 141);
}


.container-fluid{
    position: -webkit-sticky;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .8;
}

.RawTech{
    font-size: 65px !important;
    text-decoration: none !important;
    font-weight: bold !important;
    font-family: 'Quicksand', sans-serif !important;
    text-shadow: 4px 4px 6px !important;
    text-decoration: underline !important;
    color: rgb(255, 255, 255) !important;
}

.navbar li a{
    font-size: 18px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
    font-family: 'Quicksand', sans-serif;
}
.navbar li a:hover{
    background: #ffffff;
    transition: 0s;
    border-radius: 8px;
    text-shadow: 4px 4px 6px !important;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

@media all and (max-width: 720px) {
    .RawTech{
        font-size: 25px !important; 
    }

}


/* HOME */

.container{

    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    

}
.raw{
    /* border: solid; */
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 8rem;
    background: transparent;
    border-radius: 15px;
    text-shadow: 4px 4px 6px !important;
    box-shadow: 4px 4px 6px !important;
    z-index: -1;
    transform: rotate(-10deg);
    
}
.raw, h2{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 85px;
}
@media all and (max-width: 720px){
    .raw{
        font-size: 2rem;
        transform: rotate(1deg);
        position: relative;
        bottom: 1rem;
        z-index: -1;
    }


}
    
/*socials */



@media all and (max-width: 720px){
    .socials {
        position: relative;
        top: 43rem;
        left: 5px;
    }

}


/* AboutUs */

#AboutUs{
   background-color: lightgrey;
   opacity: .8;
    
}

.AboutUs{
    height: 90vh;
    display: grid;
}

#company1{
    margin: auto;   
}
#CompanyContent{
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
    margin: auto;
}





#aboutnav{
    background-color: grey;
}


/* media queries for aboutpage */
@media all and (max-width: 720px){
    .AboutUs{
        height: 100vh !important;
    }

}




/* Product */

.Product{
    background-image: linear-gradient(rgb(80, 67, 67),white);
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5rem;
    padding: 8px 100px;
    
}

.card-content{
    border: 1px solid;
    color: #ffffff;
}
.card-content:hover{
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    cursor: pointer;
}

@media all and (max-width: 380px){
    .gridContainer{ 
        position: relative;
        right: 7rem;
       
        }
    }

/* Spinner */

/* Admin */

.adminpage{
    background-image: linear-gradient(rgb(0, 0, 0),rgb(150, 128, 128));
}

.content-card{
    border-radius: 4px;
    color: #ffffff;
    aspect-ratio: 2/0;
    width: 15rem;
    row-gap: 0;
    border: 1px solid!important;

    
}

.content-card:hover,
.card-body:hover{
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    cursor: pointer;

}

.card-body{
    border: 1px solid;

}

/* contact page */

#Contact{
    font-size: cincel;


}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #4f525c),  url(https://i.postimg.cc/zfYWxMHW/images-of-the-beach-3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
form{
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;


}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #757575;
    color: #a0a0a0;
    background: transparent;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;


}
.button5{
    padding: 10px;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}
input:focus~label{
    top: -35px;
    font-size: 14px;

}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
    z-index: 1;

}
.row2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row2 , .input-group{
    flex: basis 48%;
    z-index: 1;

}
.ending{
    font-size: 35px;
    font-family: cincel;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(158, 158, 158)
}

@media all and (max-width: 720px){

    .ending{
        /* background: transparent; */
        background-image: url(/images/forest.jpg);
        color: white
        
    }
    .hero{
        height: 110vh;
        
    }
}
@media all and (max-width: 300px){
    .ending{
        color: white;
    }
}


/* Checkout */

.checkoutpage{
    background-image: linear-gradient(black, rgb(58, 49, 49));
    border: solid;
}













