*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
 }
 body{
    min-height: 100vh;
    scroll-behavior: smooth;
    background-image: url(https://i.postimg.cc/GpDJtvKt/computer-1844996.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

/* navbar */

#nav-container{
    background-color: rgb(145, 141, 141);
}


.container-fluid{
    position: sticky;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .8;
}

.RawTech{
    font-size: 65px !important;
    text-decoration: none !important;
    font-weight: bold !important;
    font-family: 'Quicksand', sans-serif !important;
    text-shadow: 4px 4px 6px !important;
    text-decoration: underline !important;
    color: rgb(255, 255, 255) !important;
}

.navbar li a{
    font-size: 18px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
    font-family: 'Quicksand', sans-serif;
}
.navbar li a:hover{
    background: #ffffff;
    transition: 0s;
    border-radius: 8px;
    text-shadow: 4px 4px 6px !important;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

@media all and (max-width: 380px) {
    .RawTech{
        font-size: 25px !important; 
    }

}


/* HOME */

.container{
    /* border: solid; */
    min-height: 100vh;
    display: flex;
    z-index: 1;
    flex-wrap: wrap;

}
.raw{
    /* border: solid; */
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 8rem;
    background-image: radial-gradient(hotpink,rgb(104, 90, 90));
    background: transparent;
    border-radius: 15px;
    text-shadow: 4px 4px 6px !important;
    box-shadow: 4px 4px 6px !important;
    z-index: -1;
    transform: rotate(-10deg);
    
}
.raw, h2{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    
}

@media all and (max-width: 380px){
    .raw{
        font-size: 2rem;
        transform: rotate(1deg);
        position: relative;
        bottom: 15rem;
        z-index: -1;
    }

}

/* AboutUs */

#AboutUs{
    background-image: url(https://i.postimg.cc/z3mH9Qmk/video-games-1136046.jpg);
    height: 100vh;
}




/* Product */

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5rem;
    padding: 8px 100px;
    
}

.card-content{
    border: 1px solid;
    color: #ffffff;
}
.card-content:hover{
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    cursor: pointer;
}

/* Spinner */





/* SearchBar searchbtn , sortbtn */


/* Admin */

.content-card{
    border-radius: 4px;
    color: #ffffff;
    aspect-ratio: 2/0;
    width: 15rem;
    row-gap: 0;
    border: 1px solid!important;

    
}

.content-card:hover,
.card-body:hover{
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    cursor: pointer;

}

.card-body{
    border: 1px solid;

}

/* contact page */

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border: white solid;
}
h5{
    border: solid 1px white;
}














